/* tan -- #BC8F8F
silver --  #B0C4DE
light blue --  	#ADD8E6
slate blue --  #4682b4
burgundy -- #800020 */

.body-cover {
  background-color: #ADD8E6;
}

.h1 {
  font-size: 60px;
  text-align: center;
  color: #800020;
  font-family: 'Great Vibes', cursive;
}

.omc {
    padding:10px;
    border:10px solid #4682b4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
  width: 80%;
}

ul.navbar {
  overflow-x: hidden;
  background-color: #4682b4;
  list-style-type: none;
  text-transform: uppercase;
}

ul.navbar li a {
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  color: #800020;
  text-transform:uppercase;
}

ul.navbar li a:hover {
  font-size: 20px;
  color: #B0C4DE;
background-color: #800020;
}

ul.navbar li {
float: right;
padding-left: 20px;
}
