/* tan -- #BC8F8F
silver --  #B0C4DE
light blue --  	#ADD8E6
slate blue --  #4682b4
burgundy -- #800020 */

.body-cover {
  background-color: #ADD8E6;
}

.h1 {
  font-size: 60px;
  text-align: center;
  color: #800020;
  font-family: 'Great Vibes', cursive;
}

.omc {
    padding:10px;
    border:8px solid #4682b4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container {
  width: 40%;
}
