.body-cover {
  background-color: #C4C4C4;
}

.coverpic {
    padding:10px;
    border:8px solid red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.siteIndex {
  color: red;
  font-size: 16px;
  padding-left: 15px;
}

table {
width: 60%;
margin-left: 20%;
margin-right: 20%;
}

.title {
  width: 30%;
  vertical-align: top;
}

.description {
  width: 70%;
  font-size: 16px;
  color: blue;
}

a {
  font-size: 18px;
  color: green;
}
